<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Happy Happy Board Game Club</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
                href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i
                    class="fa fa-bars"></i></a>
            <a href="/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
            <a href="/events" class="w3-bar-item w3-button w3-padding-large w3-hide-small">EVENTS</a>
            <div class="w3-dropdown-hover w3-hide-small">
                <button class="w3-padding-large w3-button" title="More">GAMES <i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="/werewolf" class="w3-bar-item w3-button">WEREWOLF</a>
                    <a href="/avalon" class="w3-bar-item w3-button">AVALON</a>
                </div>
            </div>
            <a href="/tools" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TOOLS</a>
            {% if 'user' not in request.session or request.session.user == None %}
            <a href="/login" class="w3-padding-large w3-hide-small w3-right">LOG IN</a>
            {% else %}
            <a href="/logout" class="w3-padding-large w3-hide-small w3-right">LOG OUT</a>
            {% endif %}
        </div>
    </div>

    <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
    <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
        <a href="/events" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">EVENTS</a>
        <a href="/werewolf" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">WEREWOLF</a>
        <a href="/avalon" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">AVALON</a>
        <a href="/tools" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOOLS</a>
        {% if 'user' not in request.session or request.session.user == None %}
        <a href="/login" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">LOG IN</a>
        {% else %}
        <a href="/logout" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">LOG OUT</a>
        {% endif %}
    </div>


    <!-- The Event Section -->
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
        <h2 class="w3-wide">Upcoming Events</h2>

        {% for event in all_events %}
        <div class="w3-half event">
            <h3>{{event.name}}</h3>
            <h6>(by {{event.created_by.first_name}})</h6>
            <p>{{event.date}} @{{event.time}}</p>
            <p>{{event.location}}</p>
            <p>{{event.desc}}</p>
            {% if event.joined_by.all %}
            Join by {% for joined in event.joined_by.all %} {{joined.first_name}}, {% endfor %} <br><br>
            {% endif %}

            {% if 'user' not in request.session or request.session.user == None %}
            <p></p>
            {% elif user not in event.joined_by.all %}
            <button type="submit"><a href="/join_event/{{event.id}}">Join</a></button>
            {% else %}
            <button type="submit"><a href="/leave_event/{{event.id}}">Leave</a></button>
            {% endif %}
        </div>
        {% endfor %}

        <div class="w3-half create_event">
            <h4>Create Your Event!</h4>
            <form action="/create_event" method="post">
                {% csrf_token %}
                Name: <input type="text" name="name"><br>
                Date: <input type="date" name="date"><br>
                Time: <input type="time" name="time"><br>
                Location: <input type="text" name="location"><br>
                Description: <input type="text" name="desc"><br>
                <input type="submit" value="Create"><br>
            </form>
        </div>

        <script>
            // Used to toggle the menu on small screens when clicking on the menu button
            function myFunction() {
                var x = document.getElementById("navDemo");
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                }
            }

            // When the user clicks anywhere outside of the modal, close it
            var modal = document.getElementById('ticketModal');
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
</body>
</html>